body{
  background-color: rgb(31, 179, 14);
  font-family: "Ranga", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}


.outputBox{
  min-height: 25px;
  width: 300px;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: white;
  padding: 5px;
  font-size: 60px;
  border: 1px solid;
  margin-inline: auto;
  

 

}
button{
  background-color: white;
  padding: 10px;
  font-family: "Ranga", serif;
  font-weight: 700;
  font-size: larger;
  border: 1px solid;
  /* make an outline */
  
}

header{
  background: rgb(23, 229, 23);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 37px;
      font-family: "Ranga", serif;
      font-weight: 700;
      font-style: normal;
    }
    
    

select{
  padding: 10px;
  cursor: pointer;
  font-family: "Ranga", serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  
}

input{
  padding: 5px;
  width: 30px;
  font-family: "Ranga", serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}
#minigame{
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  font-family: "Ranga", serif;
  font-weight: 700;
  border: 1px solid;
  /* make an outline */

}